* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

.header {
    position:absolute;
    display: flex;
    align-items: center;
    background-color: black;
    height: 60px;
    border-color: aliceblue;
    border-bottom: 5px;
    top:0;
    left: 0;
    width: 100%;
    z-index: 20;
}


/* navigation */
.nav {
    position: relative;
    display: flex;
    list-style: none;
    box-sizing: border-box  ;
    margin: auto;
    margin-bottom: 0%;
    margin-top: 10px;
}

.nav li {
    margin: 40px;
    overflow: hidden;
}

.nav a {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
    transition: transform 0.4s;
}

.nav a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
}

.nav  a:hover {
    transform: translateY(-100%);
}



img{
    position: relative;
    display: flex;
    height: 20px;
    width: 20px;
    right: 20px;
}


